h1{ font-weight: 600; font-family: monospace;
    color: black; 
}



h2{font-weight: 300;
 color:black;
 margin-bottom: 10px;
}
.footer {
    height: 100px;
    margin-top: 80px;
  }
  .footer p {
    margin: 0;
  }
  p{
    margin-bottom: 10px;
  }
  h3{
    font-weight: 200; font-family: Arial, Helvetica, sans-serif;
  }